<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Detect Whitespace</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/file-button.css">
	</head>
	<body>
		<form id="upload-file" method="post" enctype="multipart/form-data">
		    <div>
		        <label for="select-file-btn">Select a file</label>
		        <input id="select-file-btn" name="file" type="file" accept="image/png, image/jpg">
		    </div>
		</form>
		<div id="results">
		</div>
	</body>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>
</html>