<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Detect Whitespace</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	</head>
	<body>
		<div class="ui one column stackable center aligned page padded grid">
		   <div class="column twelve wide">
				<form id="upload-file" class="ui form" method="post" enctype="multipart/form-data">
					<button type="button" id="upload-file-btn" class="ui big blue button">Upload File</button>
				</form>
		   </div>
		</div>
		<div id="results">
			
		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</html>